<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/theme.css">
		
	</head>

	<body>
		<div class="container">
			<div class="row">
				<main class="col-md-12">
					<header>About html demo page!</header>
					<table>
						<caption>Demo table</caption>
						<thead>
							<tr>demo 1 val</tr>
							<tr>demo 2 val</tr>
							<tr>demo 3 val</tr>
						</thead>
						<th>Demo table</th>
						<tr>
							<td colspan="1">1</td>
							<td rowspan="1">1</td>
							<td>1</td>
						</tr>
						<tr>
							<td>1</td>
							<td>1</td>
							<td>1</td>
						</tr>
						<tbody>
						<tr>
							<td>1</td>
							<td>1</td>
							<td>1</td>
						</tr>
					</tbody>
						<tr>
							<tfoot>
								<td>1$</td>
								<td>1$</td>

								<td>1$</td>

							</tfoot>
						</tr>
					</table>
					<li>
						<ul> Hello
							<ol>1</ol>
						</ul>
						<ul> Hello2
							<ol>2</ol>
						</ul>
						<ul> Hello3
							<ol>3</ol>
						</ul>
						<ul> Hello4
							<ol>4</ol>
						</ul>
						<ul> Hello5
							<ol>5</ol>
						</ul>
					</li>
					<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg">
					<audio src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3"></audio>
					<video src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4"></video>
				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>